.bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  filter: brightness(50%);
}

.show {
  position: absolute;
  width: 55%;
  top: 20%;
  left: 20%;
  z-index: 8;
  display: flex;
  align-items: center;
}

.img {
  height: 350px;
}

.textbox {
  color: white;
  padding: 0 0 0 32px;
  height: 350px;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.textbox p {
  color: whitesmoke;
}

.toHome {
  position: absolute;
  top: calc(100% - 32px);
  left: calc(100% - 32px);
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  opacity: 0.8;
  font-size: 36px;
  transition: all 0.4s;
}

.toHome:hover {
  cursor: pointer;
  transform: scale(1.1);
}
