.container {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.slide_show {
  width: 1200px;
  overflow: hidden;
  position: relative;
  left: calc(50% - 600px);
}

.slide {
  width: 3500px;
  padding: 50px 0 0 0;
  display: flex;

  transition: all 0.4s ease;
}

.left,
.right {
  background-color: transparent;
  border: none;
  outline: none;
  color: #1d3124;
  opacity: 0.8;
  font-size: 44px;
  transition: all 0.4s;
}

.left {
  text-shadow: 3px 2px 0 #1d3124;
  position: absolute;
  top: calc(50% - 22px);
  left: 100px;
}

.right {
  text-shadow: -3px 2px 0 #1d3124;
  position: absolute;
  top: calc(50% - 22px);
  right: 100px;
}

.left:hover,
.right:hover {
  cursor: pointer;
  transform: scale(1.1);
}
